@using FurBuuks.Models
@model User
@{
    ViewBag.Title = "BookEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</head>
<body>
    <hr>
    <div class="container bootstrap snippet">
        <section class="wrapper">
            <div class="row">


                <div class="col-sm-2"></div>

                <div class="col-sm-8">

                    <form class="form" method="post" id="registrationForm">

                        @foreach (var item in Model.Books)
                        {

                            <div class="row oylesine  @item.Id">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-xs-6 text-center">
                                            <img src="@item.ImageURL" height="200" width="150" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <label>Kitap Adı: @item.Title</label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <label>Yazar: @item.Author</label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <label>Başlangıç Tarihi: @item.BeginTime.ToString("dd.MM.yyyy")</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <label>Bitiş Tarihi: @item.EndTime.ToString("dd.MM.yyyy")</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <button rel="@item.Id" class="del btn btn-danger "
                                            type="button">
                                        Sil
                                    </button>
                                    <button  type="button" class="btn btn-success " data-toggle="modal" data-target="#UyeOl">
                                        Düzenle
                                    </button>
                                </div>
                                <hr />
                            </div>

                            <div class="modal fade" id="UyeOl" tabindex="-1" role="dialog" aria-labelledby="">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        </div>

                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label>Başlangıç Tarihi:</label>
                                                <input type="date" name="BeginTime" class="form-control" placeholder="@item.BeginTime.ToString("dd.MM.yyyy")" />
                                            </div>
                                            <div class="form-group">
                                                <label>Bitiş Tarihi:</label>
                                                <input type="date" name="EndTime" class="form-control" placeholder="@item.EndTime.ToString("dd.MM.yyyy")" />
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-primary">Kaydet</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }

                    </form>

                </div><!--/col-8-->

            </div>
        </section>
    </div>
    <script>
        $(document).ready(function () {
            $(".del").click(function () {
                var btn = $(this);
                var id = btn.attr("rel")
                $.ajax({
                    url: "/User/Delete/" + id,
                    method: "POST",
                    success: function (IsDeleted) {
                        if (IsDeleted) {
                            $(".oylesine." + id).slideUp("slow");
                        }
                        else
                            alert("An error has occured.");
                    }
                });
            });
        });
    </script>
</body>
</html>


