@using FurBuuks.Models
@model User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<link href="~/Content/UserCard.css" rel="stylesheet" />
<!------ Include the above in your HEAD tag ---------->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>

<link href="~/Content/animate.css" rel="stylesheet" />
<link href="~/Content/owl.carousel.min.css" rel="stylesheet" />
<link href="~/Content/owl.theme.green.min.css" rel="stylesheet" />
<link href="~/Content/CommentBox.css" rel="stylesheet" />

<section class="wrapper">
    <div class="container-fluid gedf-wrapper">
        <div class="row">
            <!--User Card-->
            <div class="col-md-3 usercard">
                <div class="card hovercard">
                    <div class="cardheader">
                    </div>
                    <div class="avatar">
                        <img alt="" src="@Model.ImageURL">
                    </div>
                    <div class="info">
                        <div class="title">
                            <a target="_blank" href="/User/UserProfile">@Model.NameSurname</a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="bottom-item">
                            <a href="#">Okuduklarım <br />@Model.UserBooks.Count</a>
                            <a href="#">Kütüphanem <br />@Model.UserBooks.Count</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End of User Card-->
            <!--Comments Column-->
            <div class="col-md-6 gedf-main">
                <div class="card gedf-card comment-tools">
                    <!-- Widget Area -->
                    <div class="widget-area no-padding blank">
                        <!-- Status Upload  -->
                        <div class="status-upload">
                            <ul>
                                <li>
                                    <a data-toggle="modal" data-target="#Extract-modal">
                                        <i class="fas fa-quote-right"></i>
                                        <div class="tool-header">Alıntı</div>
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="modal" data-target="#Review-modal">
                                        <i class="fas fa-pencil-alt"></i>
                                        <div class="tool-header">İnceleme</div>
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="modal" data-target="#Comment-modal">
                                        <i class="fas fa-comment"></i>
                                        <div class="tool-header">Yorum Yap</div>
                                    </a>
                                </li>
                            </ul>
                        </div><!-- Status Upload  -->
                    </div><!-- Widget Area -->
                </div>
                @foreach (Comment item in ViewBag.AllComments)
                {
                    <!--- \\\\\\\Post-->
                    <div class="card gedf-card">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mr-2">
                                        <img class="rounded-circle" width="45" src="@item.User.ImageURL" alt="">
                                    </div>
                                    <div class="ml-2">
                                        <div class="h5 m-0"><a href="#">@item.User.UserName</a></div>
                                        <div class="h7 text-muted">Miracles @item.User.NameSurname</div>
                                    </div>
                                </div>

                                <div class="dropdown">
                                    <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                        <div class="h6 dropdown-header">Configuration</div>
                                        <a class="dropdown-item" href="#">Kaydet</a>
                                        <a class="dropdown-item" href="#">Gizle</a>
                                        <a class="dropdown-item" href="#">Rapor Et</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                @item.Content
                            </p>
                            <div class="text-muted h7 mb-2 float-right"> <i class="fa fa-clock-o">10 minutes ago</i></div>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="card-link"><i class="fa fa-gittip"></i> Beğen</a>
                            <a href="#" class="card-link"><i class="fa fa-comment"></i> Yorum Yap</a>
                            <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Paylaş</a>
                        </div>
                    </div>
                    <!-- Post /////-->
                }
                <div class="comment-model">
                    <div class="modal fade" id="Extract-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="comment-model">
                    <div class="modal fade" id="Review-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="comment-model">
                    <div class="modal fade" id="Comment-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Ends Comments Column-->
            <!--Populer Books Card-->
            <div class="col-md-3">
                <div class="card gedf-card">
                    <div class="card-body">
                        <h5 class="card-title">Popüler Kitaplar</h5>
                        <div class="owl-carousel owl-theme">
                            @foreach (Book item in ViewBag.AllBooks)
                            {
                                <div class="item">
                                    <img src="@item.ImageURL" alt="Alternate Text" style="width:99%;height:241px;" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="card gedf-card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the
                            card's content.
                        </p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
            <!--End Populer Books Card-->

        </div>
    </div>
</section>

<script src="~/Scripts/owl.carousel.min.js"></script>
<script>
    $('.owl-carousel').owlCarousel({
        animateOut: 'fadeOut',
        animateIn: 'fadeIn',
        items: 1,
        margin: 30,
        stagePadding: 30,
        smartSpeed: 450,
        loop: true,
        autoplay: true,
        autoplayTimeout: 5000,
        autoplayHoverPause: true
    });
</script>

