@using FurBuuks.Models
@model User
@{
    ViewBag.Title = "MyBooks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>

    @*<link href="~/Content/MyBooks/css/bootstrap.css" rel="stylesheet" />*@
    <link href="~/Content/MyBooks/css/rotating-card.css" rel="stylesheet" />
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />

    <style>

        h3 {
            font-size: 20px;
        }

        .panel-body {
            padding: 15px;
            box-sizing: border-box;
        }

        .panel {
            background-color: white;
        }

        .dropdown-menu {
            padding: 0px;
            overflow: hidden;
        }

        .brand_network {
            color: #9D9D9D;
            float: left;
            position: absolute;
            left: 70px;
            top: 30px;
            font-size: smaller;
        }

        .post-content {
            margin-left: 58px;
        }

        .badge-important {
            margin-top: 3px;
            margin-left: 25px;
            position: absolute;
        }

        body {
            background-color: #e8e8e8;
        }

        /*sosyal medya için*/
        .social:hover {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
        }

        .social {
            -webkit-transform: scale(0.8);
            /* Browser Variations: */
            -moz-transform: scale(0.8);
            -o-transform: scale(0.8);
            -webkit-transition-duration: 0.5s;
            -moz-transition-duration: 0.5s;
            -o-transition-duration: 0.5s;
        }

        /*
            Multicoloured Hover Variations
        */

        #social-fb:hover {
            color: #3B5998;
        }

        #social-tw:hover {
            color: #4099FF;
        }

        #social-gp:hover {
            color: #d34836;
        }

        #social-em:hover {
            color: #f39c12;
        }

        #social-ins:hover {
            color: #D22F8C;
        }

        #social-tumb:hover {
            color: #36465D;
        }

        /**Reset Bootstrap*/
        .dropdown-toggle::after {
            content: none;
            display: none;
        }
    </style>
</head>
<body>
    <section class="wrapper">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="mainbody container-fluid">
            <div class="row">

                <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="media">
                                <div class="media-body">
                                    <img src="@Model.ImageURL" height="100" width="100" style="border-radius:100px;" />
                                    <hr>
                                    <h3><strong>@Model.UserName</strong></h3>
                                    <hr>
                                    <h3>
                                        <strong>
                                            <a href="/User/BookEdit/@Model.Id">Kitaplığımı Düzenle</a>
                                        </strong>
                                    </h3>

                                    <hr>
                                    <h3><strong>Sosyal medya</strong></h3>
                                    <p>
                                        @if (Model.FacebookURL != null)
                                        {
                                            <a href="@Model.FacebookURL"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                                        }
                                        @if (Model.TwitterURL != null)
                                        {
                                            <a href="@Model.TwitterURL"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
                                        }
                                        @if (Model.InstagramURL != null)
                                        {
                                            <a href="@Model.InstagramURL"><i id="social-ins" class="fa fa-instagram fa-3x social"></i></a>
                                        }
                                        @if (Model.GooglePlusURL != null)
                                        {
                                            <a href="@Model.GooglePlusURL"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                                        }
                                        @if (Model.TumblrURL != null)
                                        {
                                            <a href="@Model.TumblrURL"><i id="social-tumb" class="fa fa-tumblr-square fa-3x social"></i></a>
                                        }
                                    </p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            @foreach (var item in Model.UserBooks)
                            {
                                <div class="col-md-2 col-sm-6" style="display:inline-block; margin:0px 20px;">
                                    <div class="card-container">

                                        <div class="card">
                                            <div class="front">
                                                <div class="content" style="margin:0px; padding:0px;">
                                                    <div class="main">
                                                        <img src="@item.Book.ImageURL" height="200" width="150" style="margin:0px; padding:0px;" />
                                                    </div>
                                                </div>

                                            </div> <!-- end front panel -->


                                            <div class="back">
                                                <div class="content">
                                                    <div class="main">
                                                        <h5 class="text-center"><span class="datetitle">Başlangıç</span></h5>
                                                        <p class="text-center">@Html.Raw(item.BeginTime.HasValue ? item.BeginTime.Value.ToString("dd.MM.yyyy") : string.Empty)</p>
                                                        <h5 class="text-center"><span class="datetitle">Bitiş</span></h5>
                                                        <p class="text-center">@Html.Raw(item.EndTime.HasValue ? item.EndTime.Value.ToString("dd.MM.yyyy") : string.Empty)</p>

                                                    </div>
                                                </div>

                                            </div> <!-- end back panel -->
                                        </div> <!-- end card -->


                                    </div> <!-- end card-container -->
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>











